body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/276/716/non_2x/abstract-geometric-background-in-flat-design-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}